body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
}
/* Navigation Class */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
}

.logo a {
    color: #3C3C3C;
    letter-spacing: 3px;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: #3C3C3C;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links li{
    list-style: none;
}
/* Utility Classes */
.img-responsive {
    max-width: 100%;
}

.hero_image {
    background: url(coffee.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
}
/* Search */
.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3C3C3C;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-bar:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-bar:hover > .search-btn {
    background: #AF473C;
    color: #F5F5F5;
}

.search-btn {
    text-decoration: none;
    color: #945d60;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: ##565656;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.search-btn > i {
    font-size: 20px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #F5F5F5;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}
/* Food Section */
.food {
    width: 90%;
    margin-top: .3rem;
    margin-left: auto;
    margin-right: auto;
}

.food_list_item {
    float: left;
    width: 32%;
    margin-left: .5rem;
}

.food_list_item img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.food_list_item:first-of-type {
    margin-left: 0;
}

@media screen and (max-width: 700px) {
    .food_list_item {
        width: 100%;
        float: none;
    }
}